<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>   
</head>
<style>
    button {
    margin-top: 10px; /* Adjust spacing as needed */
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
</style>

<body>
    <div style="margin:50px">
    <div>
         <p id="display" style="font-size: 25px; font-weight:800;"></p>
    </div>
    <div>
        <p id="files"></p>
        <button id="openDocumentButton">Open Document</button>
    </div>
</div>
    
</body>
<script type="module" src="js/profile.js"></script>

</html>