<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c57ef9cf9b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/hello.css') }}">
    <title>Document</title>   
</head>


    

<body>
    <h1 style="text-align: center;">My Documents</h1>
    <div >
    
        <i class='fas fa-user-alt' style='font-size:68px;color:#d068179c; position: absolute;margin:10px;
        top: 8px;
        right: 16px;' > </i>
        <!-- <i class="fas fa-folder" style='font-size:70px;'></i> -->
        <p id="display" style="font-size: 15px; font-weight:800;position: absolute;margin:10px;
        top: 80px;
        right: 23px; text-align: center;"></p>
       
   </div>
    <div style="margin:50px;display:flex;flex-direction:row;flex-wrap:wrap;text-align:center;" id="files">
        
        <!-- <button id="openDocumentButton">Open Document</button> -->
    </div>

    
</body>
<script type="module" src="{{ url_for('static', path='/js/profile.js') }}"></script>

</html>