<! DOCTYPE html>
    <html lang="en">

    <head>
        <title>Upload_document</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/css/Upload_doc.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{{ url_for('static', path='/js/jquery-1.8.2.min.js') }}"></script>

        

        <!-- <script>
            $("#next").click(function()
              {  
                window.location.replace("/question.html");
              })  
        </script> -->
    </head>

    <body>
        <div class="container">
            <div class="form-box">
                <form id="formProfile" name="frmProfile" method="post" enctype="multipart/form-data" >

                    <h2>Upload Document</h2>
                    <p id="response" ></p>
                    <div>
                        <input type="file" id="input-doc" name="aadhaarCard" style="font-size: large; margin: 50px 0px 20px 0px;">
                    </div>
                    <div> 
                        <p>
                            Do you want your document to be stored for future use?
                        </p>
                        <input type="radio"  value="yes" id="Yes"> YES
                        <input type="radio"  value="no" id="NO" > NO
                        <div id="myProgress" style="display:none">
                            <div id="myBar" style="margin:10px;">10%</div>
                          </div>
                      <div class="button" >
                        <button type="button"  class="btn" id="next" >Submit</button>

                        <!-- formaction="/entrepreneur-save" -->
                    </div>
                    <div>
                        <p id="response"></p>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <script>
      
    </script>

    <script type="module" src="{{ url_for('static', path='/js/upload_doc.js') }}" ></script>
    
    </html>